.project_list-main {
  height: 100%;
  .project_list-main-title {
    flex-wrap: wrap;
    margin: 25px 0 45px;
    .btn-size {
      width: 25%;
      height: 53px;
    }
    div {
      mat-form-field {
        height: 53px;
        width: 30%;
      }
      .w-full {
        width: 65%;
      }
    }
    .project_list-main-action {
      width: 75%;
      .status {
        width: 210px;
      }
      .sreach {
        width: 75%;
      }
    }
  }
  .project_list-main-list {
    height: 655px;
    overflow-y: scroll;
    padding-top: 0 !important;
  }
}

.new {
  color: #ffffff !important;
}

.project {
  overflow: hidden;
  height: calc(100vh - 110px);
  background-color: #ffffff;
  box-shadow:
    0 6px 10px 0 rgba(51, 51, 51, 0.2),
    0 0px 5px 0 rgba(51, 51, 51, 0.19);

  .project-head {
    height: 55px;
    color: #ffffff !important;
    p,
    mat-icon {
      color: #333 !important;
    }
  }
}

@media (min-width: 740px) and (max-width: 1170px) {
}

@media (min-width: 740px) and (max-width: 827px) {
  .project_list-main-title {
    gap: 15px;
  }
  .status,
  .sreach {
    width: 100% !important;
  }
}

@media (max-width: 740px) {
  .project {
    width: calc(100vw - 30px);
  }
  .project_list-main-title {
    gap: 20px;
    flex-wrap: wrap;
    .btn-size {
      width: 100% !important;
    }
  }

  .status,
  .sreach {
    width: 100% !important;
  }

  .project_list-main-action {
    flex-wrap: wrap;
    width: 100% !important;
  }
}
