// Variable overrides
$color_gradient: linear-gradient(180deg, #f15338 0%, #ef643a 100%);
$color_white: #fff;
$color_white1: #fafafa;
$color_white2: #f9f9f9;
$color_brown1: #7f7462;
$color_brown2: #ab8b6a;
$color_brown3: #ede5d8;
$color_brown4: #ede5d880;
$color_brown5: #ebd09133;
$color_grey1: #beb9b2;
$color_grey2: #f4f4f4;
$color_grey3: #8a9091;
$color_grey4: grey;
$color_grey5: #eaeaea;
$color_grey6: #acacac;
$color_red: #ff0000;
$color_red2: #b42318;
$color_green1: #1faf38;
$color_green2: #25d366;
$color_milk: #fbf6e9;
$color_milk2: #f6f2eb;
$color_dark: #121415;
$color_black1: #808080;
$color_black2: #bfbfbf;
$color_black3: #acacac4d;
$color_black4: #dfdfdf;
$color_black40: #00000040;
$color_black80: #00000080;
$color_black99: #00000099;
$color_blue1: #eff8ff;
$color_text: #343a40;
$color_orange1: #ff4500;
$color_orange2: #fd581c;
$color_orange3: #ff7949;
$color_orange4: #e5683a;
$color_orange5: #e2470f;
$color_orange6: #d64915;
$color_orange40: rgba(255, 69, 0, 0.4);
$color_orange80: rgba(255, 69, 0, 0.8);
$color_orange99: rgba(255, 69, 0, 0.9);
$color_blue1: #7fd9ff;
$color_blue2: #00c3ff;
$color_blue3: #5f88a0;
$color_blue4: #66b7cd;
$color_blue40: #7fffd440;
$color_blue80: #7fe3ff80;
$color_blue99: #7fd9ff99;
$box-shadow:
  0 6px 10px 0 rgba(51, 51, 51, 0.2),
  0 0px 5px 0 rgba(51, 51, 51, 0.19);
$border-radius: 8px;
$border: 1px solid #ced4da;
$scrollbar-thumb-color: #125699;
$scrollbar-track-color: #125699;
