.account {
  background-size: cover;
  background-repeat: no-repeat;
  .dropDown {
    right: -63px;
    bottom: -45px;
    color: var(--text-primary);
  }
  .user_link {
    &:hover span {
      color: #23527c;
      text-decoration: underline;
    }
    span {
      color: #fff;
    }
  }
}
