.bg-lightgray {
  background-color: lightgray;
}

.action {
  width: auto;
  color: #419cff;
  border: 1px solid #419cff;
}

.project-item {
  line-height: 3.2rem;
}

.bg-grey,
.status-0 {
  color: #ffffff;
  background-color: #9e9e9e;
}

.bg-primary {
  color: #419cff;
  border: 1px solid rgba(46, 149, 234, 0.58);
  background-color: rgba(230, 247, 255, 255);
}

.bg-error {
  color: #d71536;
  border: 1px solid #f6afaa;
  background-color: #fff1f0;
}

.bg-warning {
  color: #e2bc19;
  border: 1px solid #f7ff1b;
  background-color: #fbfcdc;
}

.status-1 {
  color: #ffffff;
  background-color: #4caf50;
}

.bg-success {
  color: #6baa2c;
  border: 1px solid #6baa2c;
  background-color: #f6ffed;
}
