.bg-lightgray {
  background-color: lightgray;
}

.action {
  width: auto;
  background-color: #ffffff;
  box-shadow:
    0 6px 10px 0 rgba(51, 51, 51, 0.2),
    0 0px 5px 0 rgba(51, 51, 51, 0.19);
}

.bg-grey,
.status-0 {
  color: #ffffff;
  background-color: #9e9e9e;
}

.bg-primary {
  color: #ffffff;
  background-color: #2e95ea;
}

.bg-error {
  color: #ffffff;
  background-color: #f44336;
}

.bg-warning {
  color: #ffffff;
  background-color: #f89c26;
}

.bg-success,
.status-1 {
  color: #ffffff;
  background-color: #4caf50;
}
