<form [formGroup]="generalForm">
  <div class="col p-10 pr-35 gap-10">

    <div class="client fs-l-1">
      <p class=""><strong>Client: <sup>*</sup></strong></p>
      <div class="row align-items-center">
        <mat-form-field appearance="outline" class="mr-15 field">
          <mat-label class="hide">Choose a client...</mat-label>
          <mat-select formControlName="customerId" class="fs-l-1">
            <mat-option>
              <ngx-mat-select-search [placeholderLabel]="'Sreach' | translate" [ngModelOptions]="{standalone: true}"
                ngModel (ngModelChange)="handleFilter($event)" [noEntriesFoundLabel]="'No matching found' | translate">
              </ngx-mat-select-search>
            </mat-option>
            <ng-container *ngFor="let client of clientList">
              <mat-option *ngIf="this.searchCustomerChoose(client)" [value]="client.id">
                {{ client.name | nameCode:client.code }}
              </mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="generalForm.get('customerId')?.errors?.['required'] " class="fs-l-1">
            Project client is required!
          </mat-error>
        </mat-form-field>

        <app-button type="button" class="row align-items-center" color="primary" (click)="handleNewClient()"
          size="large" className="pt-3 pb-3">
          <mat-icon>add</mat-icon>
          <span class=""> New Client</span>
        </app-button>
      </div>
    </div>

    <div class="projetc_name fs-l-1">
      <p class=""><strong>Project Name: <sup>*</sup></strong></p>
      <div class="">
        <mat-form-field appearance="outline" class="w-100 h-40">
          <input matInput placeholder="Project name" formControlName="name" class="fs-l-1">
          <mat-error *ngIf="generalForm.get('name')?.errors?.['required']" class="fs-l-1">
            Project name is required!
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="project_code fs-l-1">
      <p class=""><strong>Project Code: <sup>*</sup></strong></p>
      <div class="">
        <mat-form-field appearance="outline" class="w-100 h-40">
          <input matInput placeholder="Project code" formControlName="code" class="fs-l-1">
          <mat-error *ngIf="generalForm.get('code')?.errors?.['required']" class="fs-l-1 mb-10">
            Project code is required!
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="date fs-l-1">
      <p class=""><strong>Date: <sup>*</sup></strong></p>
      <div class="row gap-15">
        <mat-form-field appearance="outline" class="md:pr-2">
          <input matInput placeholder="Start at" [matDatepicker]="pickerStart" formControlName="timeStart"
            class="fs-l-1">
          <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
          <mat-datepicker #pickerStart color="primary"></mat-datepicker>
          <mat-error *ngIf="generalForm.get('timeStart')?.errors?.['required']" class="fs-l-1 mb-10">
            Date Start is required!
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="pl-2">
          <input matInput placeholder="End at" [matDatepicker]="pickerEnd" formControlName="timeEnd" class="fs-l-1">
          <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
          <mat-datepicker #pickerEnd color="primary"></mat-datepicker>
        </mat-form-field>
      </div>

    </div>

    <div class="note fs-l-1">
      <p class=""><strong>Note:</strong></p>
      <div class="">
        <mat-form-field appearance="outline">
          <textarea matInput formControlName="note" class="h-65 fs"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="user fs-l-1">
      <p class=""><strong>All User:</strong></p>
      <div class="mb-20">
        <mat-checkbox formControlName="isAllUserBelongTo" color="primary">
          <strong>Auto add user as a member of this project when creating new user</strong>
        </mat-checkbox>
      </div>
    </div>

    <div class="project_type fs-l-1">
      <p class=""><strong>Project Type: <sup>*</sup></strong></p>
      <div class="mt-45">
        <mat-radio-group color="primary" formControlName="projectType" class="flex flex-wrap text-semibold">
          <mat-radio-button [value]="0" class="pr-6 py-2 font-semibold">T&M</mat-radio-button>
          <mat-radio-button [value]="1" class="pr-6 py-2 font-semibold">Fixed Frice</mat-radio-button>
          <mat-radio-button [value]="2" class="pr-6 py-2 font-semibold">Non-Bill</mat-radio-button>
          <mat-radio-button [value]="3" class="pr-6 py-2 font-semibold">ODC</mat-radio-button>
          <mat-radio-button [value]="4" class="pr-6 py-2 font-semibold">Product</mat-radio-button>
          <mat-radio-button [value]="5" class="pr-6 py-2 font-semibold">Training</mat-radio-button>
          <mat-radio-button [value]="6" class="pr-6 py-2 font-semibold">NoSalary</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

  </div>

  <app-button [disabled]="generalForm.invalid" class="row justify-content-end mr-15 mb-15" (click)="nextRouter()"
    color="primary">
    Next
  </app-button>
</form>

<ng-template #noClientsFound>
  <mat-option>
    No matching found
  </mat-option>
</ng-template>
