<div class="project-add-edit">
  <div class="w-100">
    <h2 *ngIf="!projectForm">Create Project</h2>
    <h2 *ngIf="projectId && projectForm">Edit Project: {{ projectForm!.controls.generalForm.value.name }}</h2>

    <div class="row justify-content-center pt-10 pb-10">
      <div *ngFor="let route of routeLabel; let i = index " [routerLinkActiveOptions]="{exact: true}"
        routerLinkActive="selected" [routerLink]="canNavigate(i) ? route.routerLink : null"
        class="cursor h-14 w-32 route-link text-center">
        <a class="p-10">{{ route.label }}</a>
      </div>
    </div>

    <div class="">
      <form [formGroup]="projectForm" *ngIf="projectForm">
        <router-outlet></router-outlet>
        <div class="pr-15">
          <app-button class="mx-2 shadow-md rounded-sm shadow-placeholder" color="basic"><a
              routerLink="/admin/projects">Cancel</a></app-button>
          <app-button class="mx-2" [disabled]="disabledSubmit()" (click)="onSave()">Submit</app-button>
        </div>
      </form>
    </div>
  </div>
</div>
