.selected {
  border-bottom: 2px solid #f44336;
  color: #000 !important;
}

.route-link {
  width: 15%;
}

.color {
  color: var(--text-back);
}

app-button.cancel {
  background-color: white;
  box-shadow:
    0 6px 10px 0 rgba(51, 51, 51, 0.2),
    0 0px 5px 0 rgba(51, 51, 51, 0.19);
}

.disabled {
  cursor: not-allowed;
}
