<div class="mb-5 overflow-auto w-100 p-20 pb-10">
  <table class="w-100 mb-5">
    <tr>
      <th class="">Tasks</th>
      <th class="">Billable</th>
    </tr>
    <ng-container *ngFor="let taskGroup of tasksArrayForm.controls; let i = index">
      <tr [formGroup]="taskGroup">
        <td class="border-b-1 d-flex align-items-center pt-3">
          <mat-icon class="cursor d-flex align-items-center mr-4" (click)="removeTask(taskGroup.value.taskId ?? 0)">
            close
          </mat-icon>
          <span>
            {{ getNameById(taskGroup.value.taskId ?? 0) }}
          </span>
        </td>
        <td class="border-b-1">
          <mat-checkbox type="checkbox" color="primary" formControlName="billable"></mat-checkbox>
        </td>
      </tr>
    </ng-container>
  </table>

  <div class="mt-15">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Select task
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table class="w-100 mb-5 pl-5 pr-5">
        <ng-container *ngFor="let task of tasksOther; let i = index">
          <tr class="">
            <td class="border-b-info d-flex align-items-center pt-3 cursor">
              <mat-icon class="d-flex align-items-center mr-4" (click)="addTask(task.id)">
                add_circle_outline
              </mat-icon>
              <span>{{ task.name }}</span>
            </td>
            <td class="border-b-info">Other task</td>
          </tr>
        </ng-container>
      </table>
    </mat-expansion-panel>
  </div>
</div>
<div class="m-15 submit d-flex">
  <app-button (click)="backRoute()" color="basic" class="box-shadow rounded-5" className="size">Back</app-button>
  <app-button class="ml-3 box-shadow rounded-5" (click)="nextRoute()" color="primary" className="size">
    Next
  </app-button>
</div>
